#settings {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  color: white;
  user-select: none;
  flex-wrap: wrap;
  font-size: 1.5rem;
  width: 100%;
}

.group {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex: 1 0 8em;
}
