#settings {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  color: white;
  user-select: none;
  flex-wrap: wrap;
}

.group {
  display: flex;
  align-items: center;
  flex: 1 1 5em;

}
